pandas
plotly
yfinance
pandas-datareader
prophet
openai
base64
html
io
re
time
streamlit
azure.ai.formrecognizer
azure.core.credentials
azure.identity
azure.search.documents
azure-storage-blob==12.14.1
pypdf
tenacity
os
tempfile
tiktoken
json