pandas
plotly
yfinance
pandas-datareader
prophet
openai==v0.28
streamlit
azure.search.documents==11.4.0b6
tenacity
tiktoken
azure-ai-formrecognizer==3.2.1
azure-storage-blob==12.14.1
azure-identity==1.13.0
langchain==0.0.236
